<div class="text-center">
<div class="text-center" ng-if="expert">
  <button class="btn btn-warning active" ng-click="leaveExpert()">
    <i class="fa fa-toggle-on"></i>
    Expert Mode
  </button>
  <label>Slow the torrent!</label>
</div>
<div class="tile-list" infinite-scroll="fetchTiles()" infinite-scroll-disabled="fetching || !expert">

  <div class="tile form-group" ng-repeat="tile in tiles track by tile._id" ng-show="$first || expert">
    <div class="grid-row">
      <div class="stretch text-right top">
        <button class="btn btn-default btn-lg" ng-click="downVote(tile._id)">
          <i class="fa fa-thumbs-down"></i>
        </button>
        <label>I don't see a bee</label>
      </div>
      <div class="top">
        <img ng-src="{{tile.url}}">
      </div>
      <div class="stretch text-left top">
        <button class="btn btn-success btn-lg" ng-click="upVote(tile._id)">
          <i class="fa fa-thumbs-up"></i>
        </button>
        <label>I see a bee</label>
      </div>
    </div>
    <div class="grid-row" ng-if="!expert">
      <div class="stretch">
        <button class="btn btn-link" ng-click="showNext()">
          Give me a different picture
        </button>
      </div>
    </div>
  </div>
</div>
<div ng-if="fetching">
  <div class="placeholder">
    <i class="fa fa-2x fa-spinner fa-spin"></i>
    <label>Fetching more...</label>
  </div>
</div>
<div class="text-center" ng-if="!counts">
  <i class="fa fa-spinner fa-spin"></i>
</div>
<div class="grid-row form-group" ng-if="!expert && counts">
  <div class="text-success stretch text-right">
    <span class="badge">{{counts.bees}}</span>
    bees
  </div>
  <div class="text-muted">
    <span class="badge">{{counts.uncategoriseds}}</span>
    uncategorised
  </div>
  <div class="text-muted stretch text-left">
    <span class="badge">{{counts.unbees}}</span>
    not bees
  </div>
</div>
<div ng-if="!expert">
  <button class="btn btn-warning" ng-click="goExpert()">
    <i class="fa fa-toggle-off"></i>
    Expert Mode
  </button>
  <label>I am ready for a torrent of images</label>
</div>
</div>
<div class="explanation" ng-if="!expert">
  <h3 class="text-center">What Do I Need To Do Here?</h3>
  <p class="lead text-center">
    Click on the <i class="fa fa-thumbs-up text-success"></i> if the image has a bee in it; the <i class="fa fa-thumbs-down"></i> if it doesn't. Some of the images will be blurry and hard to make out just what they have in them. Don't worry &mdash; if you can't tell what it is, it's not a bee.
  </p>
</div>
