@import "mixins";
@import "variables";
@import "bootswatch";
@import "bootstrap";

body {
	padding: 3 * $font-size-base 0;
}

.uploads-img {
  width: 100%;
}

.table-hover tbody tr {
  cursor: pointer;
}

dl {
	border: 1px solid $gray-lighter;
	padding: 1.5 * $font-size-base;

	dt {
		font-size: $font-size-h4;
		font-weight: bold;
	}
	dd {
		font-style: italic;
		padding-left: 2 * $font-size-base;
	}
}

.droppable {
	border: 5px dashed $gray-light;
	padding: 4 * $font-size-base $font-size-base;
	cursor: pointer;

	> div {
		font-weight: bold;
		font-size: $font-size-h4;
		text-align: center;
	}

	&.ok {
		border-color: $brand-success;
		cursor: copy;
	}
	&.err {
		border-color: $brand-danger;
		cursor: no-drop;
	}
}

.progress {
	height: 6px;
	border: none;
	margin-bottom: 4px;
}

tile-vote {
  display: block;

  table {
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 5px;
    border-collapse: separate;
    td {
      width: 33%;
    }
  }
  .text-success .badge {
    background-color: $brand-success;
  }
  .text-muted .badge {
    background-color: $text-muted;
  }
  .text-danger .badge {
    background-color: $brand-danger;
  }
  label {
    margin-top: 5px;
    color: $text-muted;
    display: block;
  }
}
